<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div style="display:inline-block">
                    <h5 class="card-header -blue">JTA Application Kit
                    <button type="button" class="btn btn-primary float-sm-right">Primary</button>
                    </h5>
                    
                </div>
                
              <div class="card-body">
                  <ul>
                      <li>
                          <a href="#">JTA Application Requirements</a>
                      </li>
                      <li>
                          <a href="#">JTA Recommendation Forms</a>
                      </li>
                      <li>
                          <a href="#">JTA General Application Form</a>
                      </li>
                          <a href="#">JTA ESAP Terms and Conditions</a>
                      <li>
                          <a href="#">JTA ASEP Terms and Conditions</a>
                      </li>   
                  </ul>
              </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
              <h5 class="card-header">Procedure and Checklist</h5>
              <div class="card-body">
                  <ul>
                      <li>
                          <a href="#">Step By Step Procedure</a>
                      </li>
                      <li>
                      <a href="#">Application Checklist</a>
                      </li>
                  </ul>
              </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="card">
              <h5 class="card-header">Pre-Departure Requirements</h5>
              <div class="card-body">
                  <ul>
                      <li>
                          <a href="#">General Instructions</a>
                      </li>
                      <li>
                          <a href="#">Clearance to Leave Form</a>
                      </li>
                      <li>
                          <a href="#">Commitment Letter</a>
                      </li>
                      <li>
                      <a href="#">Ateneo Waiver</a>
                      </li>
                      <li>
                          <a href="#">Contact Details Form</a>
                      </li>
                      <li>
                          <a href="#">VISA Status Report Form</a>
                      </li>
                      <li>
                          <a href="#">ISEP Fee Computation Form</a>
                      </li>
                      <li>
                          <a href="#">Turnover Report Form</a>
                      </li>
                      <li>
                          <a href="#">Learning Agreement</a>
                      </li>
                      
                  </ul>
              </div>
            </div>
        </div>
        
    </div>
</div>
