<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="row">
        <div class="col-12">
          <h2>Country</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <ul>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <h2>Language</h2>
        <div class="col-6">
          <ul>
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">English</a>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">English</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h2>Type of Program</h2>
        <div class="col-12">
          <ul>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h2>Scholarship</h2>
        <div class="col-12">
          <ul>
            <li>
              <a href="#">With scholarship</a>
            </li>
            <li>
              <a href="#">Without scholarship</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <h2>Program Availability</h2>
        <div class="col-6">
          <ul>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h2>Expected Expenses</h2>
        <div class="col-6">
          <ul>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
            <li>
              <a href="#">ASEAN Credit Transfer System</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
