<div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>Contact Information</h1>
          <p>
            Office of International Relations<br>
            Room 304, 3rd Floor, Faber Hall<br>
            Ateneo de Manila University<br>
            Loyola Heights 1108<br>
            Quezon City, Philippines<br>
            Trunkline: (+632) 426-6001 local 4037, 4038<br>
            Tel/Fax: (+632) 426-5907, (+632) 927-4534<br>
            Email: <a href="mailto:oir@ateneo.edu">oir@ateneo.edu</a><br>
            <br>
            made by the User Experience Society<br>
            Copyright 2018. All rights reserved.
          </p>
      </div>
      <div class="col-sm">
        <div class="row">
          <h1>Connect With Us</h1>
        </div>
        <div class="row" style="font-size: 50px;">
          <div>
            <i class="fab fa-twitter" style="margin-right: 30px"></i>
          </div>
          <div>
            <i class="fab fa-facebook-f" style="margin-right: 30px"></i>
          </div>
          <div>
            <i class="fab fa-instagram" style="margin-right: 30px"></i>
          </div>
        </div>
      </div>
    </div>
</div>
