<div class="container-fluid" style="padding:0;">
  <div style="background-color:#333; height:500px; width:100%;"/>
</div>

<div class="container">

  <p style="margin-top: 2rem; margin-bottom: 2rem;">
The information below will give you an overview on what the Junior Term Abroad
Program is about, the requirements to take part in this program, the costs, as
well as notable student experiences. We look forward to working with you as you
plan an amazing experience abroad!
  </p>

  {{ range $links := .Params.links }}
  <div class="row">
    <a href="{{ $links.link }}">
      <h1>
        <i class="fas fa-angle-right"></i>
        {{ $links.title }}
      </h1>
    </a>
  </div>
  {{ end }}

</div>