.main {
  margin-top: 2em;
  text-align: center;
}

.message {
  color: $title-color;
  font-family: rubik;
  font-size: ms(8);
}

.escape {
  text-decoration: none;
  font-size: ms(6);
}

.escape a:hover{
  text-decoration: underline;
}

