#contact-us{
  max-width: 100%;
  height: auto;
  padding: 25px 0;
}
.contact-us{
  max-width: 1300px;
  margin: auto;
  /*border: 1px solid red;*/
}
.upper, .middle, .middleright, .bottom, .middleright-top-responsive{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 975px){
  .upper, .middle,  .bottom{
    flex-direction: column;
    justify-content: center;
  }
  .header-logo{
    margin-bottom: 16px;
  }
  @media all and (max-width: 650px){
    .middleright-top-responsive{
      flex-direction: column;
      justify-content: center;
    }
    .contact-upperright{
      flex-direction: column;
    }
    input{
      margin-bottom: 16px;
    }
    .main-navigation{
      display: none;
    }

  }
}
.upper{
  padding: 20px;
  margin-bottom: 10px
}
.middle{
  padding: 20px;
  margin-bottom: 10px;
}
.bottom{
  text-align: center;
}
.upperleft-text{
  font-size: ms(3);
  font-weight: bold;
}

.upperleft-text2{
  font-size: 14px;
  opacity: 0.5;
  margin-top: -10px;
}
.contact-upperright{
  display: flex;
  align-items: center;
}
.email-inputbox{
  min-width: 200px;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 10px;
}
.footer-link a{
  text-decoration: none;
  color: black;
}
.footer-link a:hover{
  text-decoration: underline;
}
.middleright-links-title{
  font-weight: 700;
  margin: 0;
  min-width: 103px;
}
.middleright-links{
  margin-left: 50px;
  line-height: 1.5em;
}
.middleright-links nav ul, .middleright-links nav ul li{
  margin: 0;
  padding-left: 0;
}
.middleright-links nav ul{
  list-style: none;
}
.bottomright-text {
  color: $border-gray;
}